.loginContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }
  
  .loginHeading {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
  }
  
  .loginInput {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .loginError {
    margin-bottom: 10px;
    color: red;
  }
  
  .loginButton {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #0056b3;
  }
  
  .signUpText {
    margin-top: 20px;
    text-align: center;
  }
  
  .signUpBtn {
    font-size: 16px;
    color: #3B5704;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .signUpBtn:hover {
    color: #2C4303;
  }
  